{{!< default}}

<div class="content-area">
    <main class="site-main">
    {{#page}}
      {{> "post-header"}}
    {{/page}}
        <div class="post-feed container medium">
            {{#foreach posts}}
                {{> "loop"}}
            {{/foreach}}
        </div>
        {{pagination}}
    </main>
</div>
